/* Nav Bar CSS */


/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */
.starter{
    color:black;
    
}

#photo{
    font-size:30px; 
    color:#17a0c6;
}

#code{
    font-size:30px;
    color:#17a0c6;
}
.thumbnail1{
    margin-top:10px;
}

body {
background-color: lightblue;
}

