/* Nav Bar CSS */


/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */
.starter{
    color:black;
    
}

#photo{
    font-size:30px; 
    color:#17a0c6;
}

#code{
    font-size:30px;
    color:#17a0c6;
}
.thumbnail1{
    margin-top:10px;
}


.contact{
    color:black;
    font-size:40px;
    margin-left: 200px;
}

.email{
    color:blue;
    font-size:20px;
}

.number{
    color: blue;
    font-size: 20px;
    margin-top:-78px;
    margin-left: 390px;
}

.location{
    color:black;
    font-size:20px;
    margin-top: -20px;
}

.about1{
    color:#17a0c6;
    font-size: 30px;
    margin-top: -35px;   
}

.about2{
    color:#17a0c6;
    font-size:20px;
    margin-top: -20px;
}