/* Nav Bar CSS */


/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */
.starter{
    color:#9bbef7;

}

#photo{
    font-size:30px; 
   
}

.thumbnail1{
    width:100px;
    height:100px;
}